@charset "UTF-8";
body {
  color: white;
  font-family: "Whitney SSm A", "Whitney SSm B", Avenir, sans-serif;
  font-size: 200%;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

header {
  background: rgba(223, 0, 0, 0.5);
  text-align: center; }
  header h1 {
    font-weight: 700;
    margin: 0 auto;
    padding-top: 5vw; }
    header h1:hover:after, header h1:focus:after {
      content: " 😷"; }
  header p {
    font-size: 0.75em;
    margin: auto;
    padding: 1vw 0 1vw 0; }
  header ul {
    margin: auto;
    padding: 1vw 0 5vw 0; }
    header ul li {
      display: inline;
      margin: 0.5em; }
      header ul li a#aboutlink:hover:after, header ul li a#aboutlink:focus:after {
        content: " ❔"; }
      header ul li a#contactlink:hover:after, header ul li a#contactlink:focus:after {
        content: " 📞"; }

.text-container {
  margin: auto;
  max-width: 800px;
  width: 80%; }

blockquote {
  font-style: italic;
  margin: auto;
  padding: 1em; }
  blockquote p.source a {
    font-size: 80%;
    font-style: normal; }

#pic {
  background: rgba(255, 165, 0, 0.5); }
  #pic img {
    display: block;
    margin: auto;
    max-width: 800px;
    width: calc(80% - 2em); }

#review-1 {
  background: rgba(255, 255, 0, 0.5); }
  #review-1 p, #review-1 a {
    color: rgba(0, 0, 0, 0.5); }
  #review-1 blockquote a:hover:after, #review-1 blockquote a:focus:after {
    content: " 👌🏿"; }

#review-2 {
  background: rgba(0, 128, 0, 0.5);
  text-align: right; }
  #review-2 blockquote a:hover:after, #review-2 blockquote a:focus:after {
    content: " 👨‍👩‍👧‍👦"; }

#review-3 {
  background: rgba(0, 0, 255, 0.5); }
  #review-3 blockquote a:hover:after, #review-3 blockquote a:focus:after {
    content: " 🐻"; }

#review-4 {
  background: rgba(75, 0, 130, 0.5);
  text-align: right; }
  #review-4 blockquote a:hover:after, #review-4 blockquote a:focus:after {
    content: " ☺️"; }

#review-5 {
  background: rgba(190, 104, 190, 0.75); }
  #review-5 blockquote a:hover:after, #review-5 blockquote a:focus:after {
    content: " 😴"; }

#contact {
  background: rgba(223, 0, 0, 0.5);
  font-size: 75%;
  padding: 2em;
  text-align: center; }
  #contact span.hidden-text {
    display: none; }
  #contact a {
    color: white; }
    #contact a:hover span.hidden-text, #contact a:focus span.hidden-text {
      display: initial; }
  #contact address {
    font-style: normal; }

footer {
  background: rgba(255, 165, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  font-size: 75%;
  text-align: center;
  min-height: 20vh;
  padding: 1em 0; }
  footer:hover p#ROYGBIV, footer:focus p#ROYGBIV {
    opacity: 1; }
  footer a {
    color: rgba(0, 0, 0, 0.5); }
  footer p#ROYGBIV {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    footer p#ROYGBIV:hover:before, footer p#ROYGBIV:focus:before, footer p#ROYGBIV:hover:after, footer p#ROYGBIV:focus:after {
      content: " 🤓 "; }

span#R {
  color: red; }

span#O {
  color: orange; }

span#Y {
  color: yellow; }

span#G {
  color: green; }

span#B {
  color: blue; }

span#I {
  color: indigo; }

span#V {
  color: violet; }

@media (max-width: 740px) {
  body {
    font-size: 125%; }

  header h1 {
    font-size: 8vw;
    padding-top: 12vw; }
  header p {
    padding-bottom: 1em; }
  header ul {
    padding-bottom: 12vw; }

  #pic img {
    width: 100vw; } }
body#aboutpage header {
  background: rgba(190, 104, 190, 0.75); }
body#aboutpage h1 {
  font-weight: 700;
  margin: 0 auto;
  padding-top: 5vw;
  max-width: 90%; }
  body#aboutpage h1:hover:after, body#aboutpage h1:focus:after {
    content: " 😎"; }
body#aboutpage ul li a#backhome:hover:after, body#aboutpage ul li a#backhome:focus:after {
  content: " 🏠"; }
body#aboutpage ul li a#contactlink:hover:after, body#aboutpage ul li a#contactlink:focus:after {
  content: " 📞"; }
body#aboutpage #pic {
  background: rgba(75, 0, 130, 0.5); }
body#aboutpage .about-paragraph {
  color: white;
  line-height: 1.6;
  margin: 0;
  padding: 1em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  body#aboutpage .about-paragraph a {
    color: white;
    border-bottom: 0.05em solid #cccccc;
    padding-bottom: 0.05em; }
    body#aboutpage .about-paragraph a:hover, body#aboutpage .about-paragraph a:focus {
      border-bottom-color: white; }
body#aboutpage #about-paragraph-1 {
  background: rgba(0, 0, 255, 0.5); }
body#aboutpage #about-paragraph-2 {
  background: rgba(0, 128, 0, 0.5); }
body#aboutpage #about-paragraph-3 {
  background: rgba(255, 255, 0, 0.5);
  color: rgba(0, 0, 0, 0.5); }
body#aboutpage #about-paragraph-4 {
  background: rgba(255, 165, 0, 0.5);
  color: rgba(0, 0, 0, 0.5); }
body#aboutpage #about-paragraph-3 a, body#aboutpage #about-paragraph-4 a {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 0.05em solid rgba(191, 191, 191, 0.5);
  padding-bottom: 0.05em; }
  body#aboutpage #about-paragraph-3 a:hover, body#aboutpage #about-paragraph-3 a:focus, body#aboutpage #about-paragraph-4 a:hover, body#aboutpage #about-paragraph-4 a:focus {
    border-bottom-color: rgba(0, 0, 0, 0.5); }
body#aboutpage #about-paragraph-5 {
  background: rgba(223, 0, 0, 0.5); }
body#aboutpage #about-paragraph-6 {
  background: rgba(190, 104, 190, 0.75); }
body#aboutpage #contact {
  background: rgba(75, 0, 130, 0.5);
  font-size: 75%;
  padding: 2em;
  text-align: center; }
  body#aboutpage #contact span.hidden-text {
    display: none; }
  body#aboutpage #contact a {
    color: white; }
    body#aboutpage #contact a:hover span.hidden-text, body#aboutpage #contact a:focus span.hidden-text {
      display: initial; }
body#aboutpage footer {
  background: rgba(0, 0, 255, 0.5);
  color: white; }
  body#aboutpage footer a {
    color: white; }

body#pagenotfound {
  background: blue;
  font-family: Courier;
  font-size: initial;
  font-style: normal;
  font-weight: initial;
  margin: 4em auto;
  max-width: 800px;
  width: 80%;
  line-height: 1.4; }
  body#pagenotfound main {
    padding-top: 10vw; }
  body#pagenotfound h2 {
    display: block;
    background: white;
    color: blue;
    margin: 1em auto 0.5em auto;
    text-transform: uppercase;
    text-align: center;
    width: 290px; }
  body#pagenotfound li {
    list-style-type: disc; }
  body#pagenotfound p:last-of-type {
    margin-top: 2em;
    text-align: center; }
  body#pagenotfound a {
    color: white;
    text-decoration: underline; }
  @media (max-width: 740px) {
    body#pagenotfound h2 {
      max-width: 90%;
      font-size: 6vw; } }
