html,
body {
	color: white;
	font-family: Avenir Next, sans-serif;
	font-size: 150%;
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

header {
	background-color: rgba(255, 0, 0, 0.5);
	text-align: center;}

header h1 {
	font-style: bold;
	margin: 0 auto;
	padding-top: 1.75em;
}

header h1:hover:after {
	content: ' 😷';
}

header p a:hover:after {
	content: ' 📞';
}

header p {
	margin: auto;
	padding: 0.5em 0 3em 0;
}

div#pic {
	background-color: rgba(255, 165, 0, 0.5);
}

div#pic img {
    display: block;
	margin: auto;
    width: 50%;
	max-width: 400px;
}

blockquote {
	display: inline-block;
	font-style: italic;
	margin: 0 30% 0 10%;
	padding: 2em;
}

div#review-1 {
	background-color: rgba(255, 255, 0, 0.5);
}

div#review-1 p,
div#review-1 a {
	color: rgba(0, 0, 0, 0.5);
}

div#review-1 blockquote a:hover:after {
	content: ' 🤗';
}

div#review-2 {
	background-color: rgba(0, 128, 0, 0.5);
    text-align: right;
}

div#review-2 blockquote a:hover:after {
	content: ' 🤒';
}

div#review-2 blockquote {
	margin: 0 10% 0 30%;
}

div#review-3 {
	background-color: rgba(0, 0, 255, 0.5);
}

div#review-3 blockquote a:hover:after {
	content: ' 🙃';
}

p.source a {
	font-size: 80%;
	font-style: normal;
}

div#contact {
	background-color: rgba(75, 0, 130, 0.5);
	font-size: 75%;
	padding: 2em;
	text-align: center;
}

div#contact a {
	color: white;
}

div#contact address a span.hidden-text,
div#contact p a span.hidden-text {
	display: none;
}

div#contact address a:hover span.hidden-text,
div#contact p a:hover span.hidden-text {
	display: initial;
}

address {
	font-style: normal;
}

footer {
	background-color: rgba(238, 130, 238, 0.5);
	font-size: 75%;
	text-align: center;
	min-height: 70vh;
	padding: 1em 0;
}

footer p {
	margin: 1em auto;
	width: 80%;
}

p#ROYGBIV {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

p#ROYGBIV:hover:before,
p#ROYGBIV:hover:after {
	content: ' 🤓 ';
}

footer:hover p#ROYGBIV {
    opacity: 1;
}

span#R {
	color: red;
}

span#O {
	color: orange;
}

span#Y {
	color: yellow;
}

span#G {
	color: green;
}

span#B {
	color: blue;
}

span#I {
	color: indigo;
}

span#V {
	color: violet;
}

/* iPhone */
@media (max-width: 680px) {

	html,
	body,
	div#contact,
	footer {font-size: initial;}

	header h1 {
		font-size: 1.5em;
	}

	header p {
		padding-bottom: 2em;
	}

}
