:root {
	--lightwhite: rgba(255, 255, 255, 0.5);
	--violet: rgba(190, 104, 190, 0.75);
	--indigo: rgba(75, 0, 130, 0.5);
	--blue: rgba(0, 0, 255, 0.5);
	--green: rgba(0, 128, 0, 0.5);
	--yellow: rgba(255, 255, 0, 0.5);
	--orange: rgba(255, 165, 0, 0.5);
	--red: rgba(223, 0, 0, 0.50);
}

body {
	color: white;
	font-family: "Whitney SSm A", "Whitney SSm B", Avenir, sans-serif;
	font-size: 200%;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

header {
	background: var(--red);
	background: rgba(223, 0, 0, 0.50);
	text-align: center;
}

body#aboutpage header {
	background: var(--violet);
	background: rgba(190, 104, 190, 0.75);
	text-align: center;
}

header h1 {
	font-weight: 700;
	margin: 0 auto;
	padding-top: 7vw;
}

body#aboutpage header h1 {
	font-weight: 700;
	margin: 0 auto;
	padding-top: 7vw;
	max-width: 90%;
}

header h1:hover:after,
header h1:focus:after {
	content: ' 😷';
}

body#aboutpage header h1:hover:after,
body#aboutpage header h1:focus:after {
	content: ' 😎';
}

header p#tagline {
	font-size: 0.75em;
	margin: auto;
	padding: 1vw 0 3vw 0;
}

header ul#menu {
	margin: auto;
	padding: 1vw 0 7vw 0;
}

header ul#menu li {
	display: inline;
	margin: 0.5em;
}

header a#aboutlink:hover:after,
header a#aboutlink:focus:after {
	content: ' ❔';
}

body#aboutpage header a#backhome:hover:after,
body#aboutpage header a#backhome:focus:after {
	content: ' 🏠';
}

header a#contactlink:hover:after,
header a#contactlink:focus:after {
	content: ' 📞';
}

div#pic {
	background: var(--orange);
	background: rgba(255, 165, 0, 0.5);
}

body#aboutpage div#pic {
	background: var(--indigo);
	background: rgba(75, 0, 130, 0.5);
}

div#pic img {
	display: block;
	margin: auto;
	max-width: 1000px;
	width: calc(80% - 2em);
}

div#review1 {
	background: var(--yellow);
	background: rgba(255, 255, 0, 0.5);
}

div#review1 p,
div#review1 a {
	color: rgba(0, 0, 0, 0.5);
}

div.textcontainer {
	margin: auto;
	max-width: 1000px;
	width: 80%;
}

blockquote {
	font-style: italic;
	margin: auto;
	padding: 1em;
}

div#review1 blockquote a:hover:after,
div#review1 blockquote a:focus:after {
	content: ' 🤗';
}

div#review2 {
	background: var(--green);
	background: rgba(0, 128, 0, 0.5);
	text-align: right;
}

div#review2 blockquote a:hover:after,
div#review2 blockquote a:focus:after {
	content: ' 🐻';
}

div#review3 {
	background: var(--blue);
	background: rgba(0, 0, 255, 0.5);
}

div#review4 {
	background: var(--indigo);
	background: rgba(75, 0, 130, 0.5);
	text-align: right;
}

div#review3 blockquote a:hover:after,
div#review3 blockquote a:focus:after {
	content: ' 😴';
}

div#review4 blockquote a:hover:after,
div#review4 blockquote a:focus:after {
	content: ' 🙂';
}

p.source a {
	font-size: 80%;
	font-style: normal;
}

div.aboutparagraph {
	color: white;
	line-height: 1.6;
	margin: 0;
	padding: 1em;
	transition: all 0.2s ease-in-out;
}

div.aboutparagraph a {
	border-bottom: 1px solid var(--lightwhite);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

div.aboutparagraph a:hover,
div.aboutparagraph a:focus {
	border-bottom-color: white;
}

div#aboutparagraph1 {
	background: var(--blue);
	background: rgba(0, 0, 255, 0.5);
}

div#aboutparagraph2 {
	background: var(--green);
	background: rgba(0, 128, 0, 0.5);
}

div#aboutparagraph3 {
	background: var(--yellow);
	background: rgba(255, 255, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
}

div#aboutparagraph3 a,
div#aboutparagraph4 a {
	border-bottom: 1px solid darkgray;
	color: rgba(0, 0, 0, 0.5);
}

div#aboutparagraph3 a:hover,
div#aboutparagraph3 a:focus,
div#aboutparagraph4 a:hover,
div#aboutparagraph4 a:focus {
	border-bottom-color: rgba(0, 0, 0, 0.5);
}

div#aboutparagraph4 {
	background: var(--orange);
	background: rgba(255, 165, 0, 0.5);
	color: rgba(0, 0, 0, 0.5);
}

div#aboutparagraph5 {
	background: var(--red);
	background: rgba(223, 0, 0, 0.50);
}

div#aboutparagraph6 {
	background: var(--violet);
	background: rgba(190, 104, 190, 0.75);
}

div#contact {
	background: var(--violet);
	background: rgba(190, 104, 190, 0.75);
	font-size: 75%;
	padding: 2em;
	text-align: center;
}

div#contact a {
	color: white;
}

div#contact address a span.hidden-text,
div#contact p a span.hidden-text {
	display: none;
}

div#contact address a:hover span.hidden-text,
div#contact address a:focus span.hidden-text,
div#contact p a:hover span.hidden-text,
div#contact p a:focus span.hidden-text {
	display: initial;
}

address {
	font-style: normal;
}

body#aboutpage div#contact {
	background: var(--indigo);
	background: rgba(75, 0, 130, 0.5);
	font-size: 75%;
	padding: 2em;
	text-align: center;
}

body#aboutpage div#contact a {
	color: white;
}

body#aboutpage div#contact address a span.hidden-text,
body#aboutpage div#contact p a span.hidden-text {
	display: none;
}

body#aboutpage div#contact address a:hover span.hidden-text,
body#aboutpage div#contact address a:focus span.hidden-text,
body#aboutpage div#contact p a:hover span.hidden-text,
body#aboutpage div#contact p a:focus span.hidden-text {
	display: initial;
}

address {
	font-style: normal;
}

footer {
	background: var(--red);
	background: rgba(223, 0, 0, 0.50);
	font-size: 75%;
	text-align: center;
	min-height: 70vh;
	padding: 1em 0;
}

footer:hover p#ROYGBIV,
footer:focus p#ROYGBIV {
    opacity: 1;
}

p#ROYGBIV {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

p#ROYGBIV:hover:before,
p#ROYGBIV:focus:before,
p#ROYGBIV:hover:after,
p#ROYGBIV:focus:after {
	content: ' 🤓 ';
}

body#aboutpage footer {
	background: var(--blue);
	background: rgba(0, 0, 255, 0.5);
}

span#R {
	color: red;
}

span#O {
	color: orange;
}

span#Y {
	color: yellow;
}

span#G {
	color: green;
}

span#B {
	color: blue;
}

span#I {
	color: indigo;
}

span#V {
	color: violet;
}

body#pagenotfound {
	background: blue;
	font-family: Courier;
	font-size: initial;
	font-style: normal;
	font-weight: initial;
	margin: 4em auto;
	max-width: 800px;
	width: 80%;
}

body#pagenotfound h2 {
	display: block;
	background: white;
	color: blue;
	margin: 1em auto 0.5em auto;
	text-transform: uppercase;
	text-align: center;
	width: 290px; /* Not responsive, but who cares? It's a silly, anyways */
}

body#pagenotfound li {
	list-style-type: disc;
}

body#pagenotfound p:last-of-type {
	margin-top: 2em;
	text-align: center;
}

body#pagenotfound a {
	color: white;
}

@media (max-width: 740px) {

	body {
		font-size: 125%;
	}

	header h1 {
		font-size: 8vw;
		padding-top: 12vw;
	}

	header p#tagline {
		padding-bottom: 1em;
	}

	header ul#menu {
		padding-bottom: 12vw;
	}

	div#pic img {
		width: 100vw;
	}

}
