$red: rgba(223, 0, 0, 0.5)
$orange: rgba(255, 165, 0, 0.5)
$yellow: rgba(255, 255, 0, 0.5)
$green: rgba(0, 128, 0, 0.5)
$blue: rgba(0, 0, 255, 0.5)
$indigo: rgba(75, 0, 130, 0.5)
$violet: rgba(190, 104, 190, 0.75)
$gray: rgba(0,0,0,0.5)

body
  color: white
  font-family: "Whitney SSm A", "Whitney SSm B", "Avenir Next", sans-serif
  font-size: 200%
  font-weight: 500
  line-height: 1.5
  margin: 0

a
  color: white
  text-decoration: none
  transition: all 300ms ease-in-out

.hidden
  display: none

// ROYGBIV colors
.red
  background: $red

.orange
  background: $orange

.yellow
  background: $yellow

.green
  background: $green

.blue
  background: $blue

.indigo
  background: $indigo

.violet
  background: $violet

.gray
  background: $gray

.red, .green, .blue, .indigo, .violet
  .information-paragraph
    a
      border-bottom: 1.5px solid darken(white, 20%)
      padding-bottom: 1.5px

      &:hover, &:focus
        border-bottom-color: white

.orange, .yellow
  color: $gray

  a
    color: $gray

  .information-paragraph
    a
      border-bottom: 1.5px solid lighten($gray, 70%)
      color: $gray
      padding-bottom: 1.5px

      &:hover, &:focus
        border-bottom-color: $gray

// Main horizontal and vertical container
.container
  display: flex
  min-height: 100vh

// Container for the text within the main container
.content-container
  align-items: center
  display: flex
  justify-content: space-between
  margin: auto
  max-width: 800px
  width: 80%
  
.image-container
  align-items: center
  display: flex
  justify-content: space-between
  margin: auto
  
  img
    height: 100vh

// Should be able to nest this
section#contact .content-container
  justify-content: center

// Hover on a review, and the emoji moves
.review
  &:hover, &:focus
    .quote-emoji
      animation: pendulum 2s ease-in-out infinite alternate-reverse

  // This is for the `transform: scale()` on `.container:hover`
  transition: transform 200ms ease-in-out

// Overrides for regular .content-container
.top
  flex-direction: column
  justify-content: center

.title
  font-weight: 700
  margin: 0

  //- Not sure if I'll keep this
  &:hover, &:focus
    &:after
      content: ' 😷'

.tagline
  font-size: 0.75em
  margin: 0
  padding: 1em 0
  text-transform: capitalize

.nav
  margin: 0
  padding: 1em 0
  font-weight: bold

.nav-item
  display: inline
  margin: 0.5em

.about-link
  &:hover:after,
  &:focus:after
    content: ' ❔'

.back-link
  &:hover:after,
  &:focus:after
    content: ' 🏠'

.contact-links
  &:hover:after,
  &:focus:after
    content: ' ✉️'

.arrow
  height: 0
  width: 0
  margin: 1em auto

  // So, borders are triangle spaces, because who knows
  border-left: 20px solid transparent
  border-right: 20px solid transparent
  border-top: 20px solid white

  // Bouncing
  animation: swing 1s ease-in-out infinite
  animation-delay: 1s
  transition: border 150ms ease-in-out, transform 300ms ease-in

  // Spinning
  &:hover, &:focus
    transform: rotateZ(360deg)
    animation-name: pulse

// Disables slide-in animations when accessed from another page
\:target
  .slide-in-right,
  .slide-in-left
    animation: none

.review
  // Alternates emoji locations
  &:nth-child(odd)
    .quote-container
      order: 2
      text-align: right

    .emoji
      order: 1

// Container for the quote and emoji
.quote-container
  width: 60%

.quote
  font-style: italic
  margin: 0

.source
  font-size: 90%

.source-link
  &:hover::after,
  &:focus::after
    content: ' 🔗'

.quote-emoji
  font-size: 450%
  transition: all 300ms ease
  // width: 20%

// Adds a bounce when direct linking to review
\:target
  .quote-emoji
    animation: bounce 2s ease-in-out infinite

.information-paragraph
  line-height: 1.7

.resume-link
  font-size: 500%

  &:hover, &:focus
    animation: tada 1s ease-in-out
    // display: none

.resume-text
  font-size: 140%

.contact-container
  a
    border-bottom: 0

.contact-emoji
  font-size: 200%
  text-align: center

.contact-link
  display: inline-block
  margin: 0
  padding: 0.25em 0.5em
  transition: all 300ms ease

  &:hover, &:focus
    background-color: rgba(255,255,255,0.3)
    border-radius: 1em
    transform: rotateZ(360deg)

// Contact jump animation
\:target
  .contact-emoji
    animation: bounce 3s ease-in-out

    // Almost like it's a cascade effect or something
    &:nth-child(2)
      animation-delay: 250ms
    &:nth-child(3)
      animation-delay: 500ms
    &:nth-child(4)
      animation-delay: 750ms
    &:nth-child(5)
      animation-delay: 1s

// Modifies the regular .container
.footer
  color: white
  font-size: medium
  min-height: initial

.copyright
  margin: 1em auto

// Weird, but I need this for iPads
@media (max-width: 1400px)
  body
    font-size: 150%

@media (max-width: 740px) 
  .image-container
    width: 100%
  
    img
      max-width: 100%
      height: inherit
    
  .about
    font-size: 130%

  .profile-pic-caption
    opacity: 1

  .content-container
    flex-direction: column
    text-align: center

  .information-paragraph
    text-align: initial

  .review
    // I targeted the odd .reviews earlier, so now I have to explicitly re-target them, *and* the even .reviews as well
    // Ideally, I'd use JavaScript to apply a class of `textAlignRight` to every even .review that I could then easily target via CSS instead of using this cascade
    &:nth-child(odd), &:nth-child(even)
      .quote-container
        order: 2
        text-align: center

      .emoji
        order: 1

  .quote-container,
  .quote-emoji
    margin: auto
    width: 100%

@media (max-width: 320px)
  body
    font-size: 110%

.slide-in-right
  animation: slide-in-right 2s ease

@keyframes slide-in-right
  0%
    transform: translateX(-100vw)
    opacity: 0
  50%
    transform: translateX(10vw)
    opacity: 0.5
  100%
    transform: translateX(0)
    opacity: 1

.slide-in-left
  animation: slide-in-left 2s ease

@keyframes slide-in-left
  0%
    transform: translateX(100vw)
    opacity: 0
  50%
    transform: translateX(-10vw)
    opacity: 0.5
  100%
    transform: translateX(0)
    opacity: 1

// Tied to the animation property above
@keyframes bounce
  0%, 60%, 70%, 80%, 90%, 100%
    transform: translateY(0)
  10%
    transform: translateY(-50%)
  20%
    transform: translateY(0)
  30%
    transform: translateY(-25%)
  40%
    transform: translateY(0)
  50%
    transform: translateY(-10%)

@keyframes pendulum
  0%, 100%
    transform: translate(0)
  33%
    transform: translate(-0.5em)
  66%
    transform: translate(0.5em)

// For about page
.slide-down
  animation: slide-down 1s ease-out

@keyframes slide-down
  from
    transform: translateY(-200px)
    opacity: 0
  to
    transform: translateY(0)
    opacity: 1

// For picture spin-thingy on \:target
@keyframes grow-rotate
  from
    transform: scale(1.1) rotateZ(360deg)
  to
    transform: scale(1) rotateZ(0deg)
