$red: rgba(223, 0, 0, 0.5)
$orange: rgba(255, 165, 0, 0.5)
$yellow: rgba(255, 255, 0, 0.5)
$green: rgba(0, 128, 0, 0.5)
$blue: rgba(0, 0, 255, 0.5)
$indigo: rgba(75, 0, 130, 0.5)
$violet: rgba(190, 104, 190, 0.75)
$gray: rgba(0,0,0,0.5)

body
	color: white
	font-family: "Whitney SSm A", "Whitney SSm B", Avenir, sans-serif
	font-size: 200%
	font-weight: 300
	line-height: 1.5
	margin: 0
	padding: 0

a
	color: white
	text-decoration: none
	transition: all 0.2s ease-in-out

header
	background: $red
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	height: 100vh

	h1
		font-weight: 700
		margin: 0

		&:hover:after, &:focus:after
			content: ' 😷'

	p
		font-size: 0.75em
		margin: 0
		padding: 1em 0

	ul
		margin: 0
		padding: 1em 0

		li
			display: inline
			margin: 0.5em

			a#aboutlink:hover:after, a#aboutlink:focus:after
				content: ' ❔'

			a#contactlink:hover:after, a#contactlink:focus:after
				content: ' 📞'

.arrow
	height: 0
	width: 0
	margin: 1em 0

	// So, borders are triangle spaces, because who knows
	border-left: 20px solid transparent
	border-right: 20px solid transparent
	border-top: 20px solid white

	// Tied to the `@keyframes bounce`
	animation: bounce 1.75s infinite
	transition: border 150ms ease-in-out, transform 300ms ease-in

	&:hover, &:focus
		border-top: 20px solid darken(white,5%)
		transform: rotateZ(360deg)

// Tied to the animation property above
@keyframes bounce
	0%
		transform: translateY(0)
	10%
		transform: translateY(-50%)
	20%
		transform: translateY(0)
	30%
		transform: translateY(-25%)
	40%
		transform: translateY(0)
	50%
		transform: translateY(-10%)

	// Threw in the `0` state because I forgot how to do an animation delay with a repeat
	60%
		transform: translateY(0)
	70%
		transform: translateY(0)
	80%
		transform: translateY(0)
	100%
		transform: translateY(0)

.container
	min-height: 40vh
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	// padding: 1em

.text-container
	margin: auto
	max-width: 800px
	width: 80%

blockquote
	font-style: italic
	margin: auto

	p.source
		a
			font-size: 80%
			font-style: normal

#pic
	background: $orange

	img
		display: block
		margin: auto
		max-width: 800px
		width: calc(80% - 2em)

#review-1
	background: $yellow

	p, a
		color: $gray

	blockquote
		a:hover:after, a:focus:after
			content: ' 👌🏿'

#review-2
	background: $green
	text-align: right

	blockquote
		a:hover:after, a:focus:after
			content: ' 👨‍👩‍👧‍👦'

#review-3
	background: $blue

	blockquote
		a:hover:after, a:focus:after
			content: ' 🐻'

#review-4
	background: $indigo
	text-align: right

	blockquote
		a:hover:after, a:focus:after
			content: ' ☺️'

#review-5
	background: $violet

	blockquote
		a:hover:after, a:focus:after
			content: ' 😴'

#contact
	background: $red
	font-size: 75%
	text-align: center

	span.hidden-text
		display: none

	a
		color: white

		&:hover span.hidden-text, &:focus span.hidden-text
			display: initial

	address
		margin: 1em auto
		font-style: normal

footer
	background: $orange
	color: $gray
	font-size: 75%
	text-align: center
	min-height: 20vh

	&:hover p.roygbiv, &:focus p.roygbiv
		opacity: 1

	a
		color: $gray

	p.roygbiv
		opacity: 0
		transition: all 0.2s ease-in-out

		&:hover:before, &:focus:before,
		&:hover:after, &:focus:after
			content: ' 🤓 '

span.r
	color: red

span.o
	color: orange

span.y
	color: yellow

span.g
	color: green

span.b
	color: blue

span.i
	color: indigo

span.v
	color: violet

@import partials/_partials-index
