doctype html
html.toni
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="404 page")
		title 404 / Page Not Found
		include partials/_favicons

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="404 page")
		meta(property="og:type" content="website")
		meta(property="og:title" content="404 page")
		meta(property="article:author" content="https://www.facebook.com/toniwonkanobi")
		meta(property="og:description" content="404 page.")
		meta(property="og:image" content="images/anthonycraig.jpg")
		meta(name="twitter:site" content="@toniwonkanobi")
		meta(name="twitter:creator" content="@toniwonkanobi")
		meta(name="twitter:title" content="Anthony Craig")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="404 page.")
		meta(name="twitter:image" content="images/anthonycraig.jpg")

		// Stylesheets
		link(rel="stylesheet" type="text/css" href="css/styles-404.css")

		// Google Analytics
		include partials/_google-analytics

	body
		main
			h2 anthonycraigdds.com
			p A fatal exception acdds.com has occurred at SIGH:8675309
				br
				| the current web request has be terminated.

			ul
				li Pressing any key will do nothing for your current web request
				li Don't press 
					code CTRL+ALT+DELETE
					|  unless you use a Windows machine, in which case you're screwed anyways

			p Go 
				a(href="/#back" rel=index title="Homepage") here
				|  to return to normalcy
