doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title About Dr. Anthony Craig
		meta(name="description" content="Learn more about Dr. Anthony Craig")
		meta(name="keywords" content="dentistry, teeth, doctor, dental")
		include partials/_favicons

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Anthony Craig, DDS")
		meta(property="og:type" content="website")
		meta(property="og:title" content="About Dr. Anthony Craig")
		meta(property="article:author" content="https://www.facebook.com/toniwonkanobi")
		meta(property="og:description" content="Learn more about Dr. Anthony Craig.")
		meta(property="og:image" content="images/AnthonyCraigDDS.jpg")
		meta(name="twitter:site" content="@anthonycraigdds")
		meta(name="twitter:creator" content="@anthonycraigdds")
		meta(name="twitter:title" content="About Dr. Anthony Craig")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Learn more about Dr. Anthony Craig.")
		meta(name="twitter:image" content="AnthonyCraigDDS.jpg")

		// Stylesheets
		include partials/_stylesheets

		// Google Analytics
		include partials/_google-analytics
		
	body#aboutpage
		header
			h1
				a(href="/about" title="About Dr. Anthony Craig") About Dr.&nbsp;Anthony&nbsp;Craig
			p#tagline Learn more about your future dentist
			ul#menu
				li: a#backhome(href="/" title="Go back home") Home
				li: a#contactlink(href="#contact" title="Go to the contact section") Contact

		main
			#pic
				img(src="images/us.jpg" title="Allison, Smokey, and I")

			#about-paragraph-1.about-paragraph
				.text-container
					p Dr. Anthony Craig graduated form 
						a(href="https://dentistry.llu.edu/" title="LLUSD") Loma Linda University School of Dentistry in 2013
						| . He has been practicing in the Inland Empire ever since.

			#about-paragraph-2.about-paragraph
				.text-container
					p Besides all of the typical dental servies you might expect (
						a(href="https://en.wikipedia.org/wiki/Dental_restoration" title="Wikipeida: Dental restorations") fillings
						| , 
						a(href="https://en.wikipedia.org/wiki/Crown_(dentistry)" title="Wikipedia: Dental crowns") crowns
						| , 
						a(href="https://en.wikipedia.org/wiki/Dentures" title="Wikipedia: Dentures") dentures
						| , etc.), he has extensive training in 
						a(href="https://en.wikipedia.org/wiki/CAD/CAM_dentistry" title="Wikipedia: CAD/CAM dentistry") CAD/CAM dentistry
						|, as well as treatment planning and restoring 
						a(href="https://en.wikipedia.org/wiki/Dental_implant" title="Wikipedia: Dental implants") dental implants
						| .

			#about-paragraph-3.about-paragraph
				.text-container
					p Dr. Craig grew up in Central California, and attended 
						a(href="http://www.puc.edu/academics/departments/chemistry/home" title="PUC Chemistry Department") Pacific Union College
						|  near Napa, CA for his undergraduate traning. There he met his wife, 
						a(href="http://allisoncraigdds.com" title="Allison's website") Allison
						| . Currently, Dr. Craig lives with Allison, and their <s>son</s> dog, 
						a(href="https://twitter.com/smokeythedingo" title="Smokey on Twitter") Smokey
						| , near Loma Linda, CA.

			#about-paragraph-4.about-paragraph
				.text-container
					p When he's not at the office, Dr. Craig enjoys all things tech. (He even built this 
						a(href="https://github.com/ToniWonKanobi/anthonycraigdds" title="GitHub repo for this website") website
						| !) He plays 
						a(href="https://www.youtube.com/watch?v=LvhfpJ_6Hoo" title="Playing for the Michael Jackson concert") bass guitar
						|  for a few of the local churches, and knows more about 
						a(href="https://theoveranalyzed.net/tags/Star%20Wars" title="Dr. Craig's posts about Star Wars") Star Wars
						|  than any dentist should.

			#about-paragraph-5.about-paragraph
				.text-container
					p If coming to the dentist is something you dread, fear not! Dr. Craig is ready to take you on&mdash;no matter how difficult you think your situation might be.

			#about-paragraph-6.about-paragraph
				.text-container
					p Taking care of your dental issues is very important. But what's more important is making patients feel comfortable. Dr. Craig strives to make every patient feel welcome and safe.

			include partials/_contact
			
		include partials/_footer
