doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Dr. Anthony Craig
		meta(name="description" content="Dr. Anthony Craig is ready take care of your dental needs with compassion. Call today!")
		meta(name="keywords" content="dentistry, teeth, doctor, dental")
		include partials/_favicons

		// Open Graph and Twitter Cards
		meta(property="og:locale" content="en_US")
		meta(property="og:site_name" content="Anthony Craig, DDS")
		meta(property="og:type" content="website")
		meta(property="og:title" content="Anthony Craig, DDS")
		meta(property="article:author" content="https://www.facebook.com/toniwonkanobi")
		meta(property="og:description" content="Dr. Anthony Craig is ready take care of your dental needs. Call today!")
		meta(property="og:image" content="images/AnthonyCraigDDS.jpg")
		meta(name="twitter:site" content="@anthonycraigdds")
		meta(name="twitter:creator" content="@anthonycraigdds")
		meta(name="twitter:title" content="Anthony Craig, DDS")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Dr. Anthony Craig is ready take care of your dental needs with compassion. Call today!")
		meta(name="twitter:image" content="AnthonyCraigDDS.jpg")

		// Stylesheets
		link(rel="stylesheet" type="text/css" href="css/styles.css")
		link(rel="stylesheet" type="text/css" href="//cloud.typography.com/7099154/7092752/css/fonts.css")

		// Google Analytics
		include partials/_google-analytics
	
	// `#back` id so I can use `:target` to disable animations when returning from other pages
	body#back
		header
			.color
				.container.top
					h1.title.slide-in-right
						a(href="/" rel="author" title="Homepage") Anthony Craig, DDS
						
					p.tagline.slide-in-left Compassionate and friendly dental&nbsp;care
					
					ul.menu.slide-in-right
						li: a(href="/about" title="Go to page with personal information") About
						li: a(href="#contact" title="Go to section with contact information") Contact
						
					a.jump.slide-in-left(href="#more" title="Keep reading")
						.arrow

		main
			.color
				#more.image-container
					.container
						figure
							img(src="images/AnthonyCraigDDS-square.jpg" alt="Picture of Anthony Craig, DDS")
							figcaption Dr. Craig in front of some vines

			.color
				// Two `id`'s here Because I can't do redirects, and I tweeted a link with this `id` previously
				#review4
					#michellej.container
						.text-container
							.quote-container
								.quote
									q The genuine kindness, compassion, respectful, and calming nature comes naturally and is very welcoming. Dr. Craig and his team are amazing!
									p.source &mdash; 
										cite
											a( href="http://www.yelp.com/biz/hospitality-dental-and-orthodontics-san-bernardino-san-bernardino-2?hrid=GS2xqO0BeKerZ7qmVBiDTg&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" title="Link to Michelle's review") Michelle J.
							p.emoji 👌🏿

			.color
				#kimberlyl.container
					.text-container
						.quote-container
							q
								p.quote Treats you like family and shows a genuine interest in not just your teeth, but you as a person
								p.source &mdash; 
									cite
										a( href="http://www.yelp.com/biz/hospitality-dental-and-orthodontics-san-bernardino-san-bernardino-2?hrid=aeFQx7MvlmuL3rkrL_NZlw&utm_campaign=www_review_share_popup&utm_medium=copy_link&utm_source=(direct)" title="Link to Kimberly's review") Kimberly L.
						p.emoji 👨‍👩‍👧‍👦

			.color
				#kennethc.container.review
					.text-container
						.quote-container
							q
								p.quote Dr. Craig really cares about you as a person
								p.source &mdash;
									cite
										a( href="http://www.yelp.com/biz/hospitality-dental-and-orthodontics-san-bernardino-san-bernardino-2?hrid=mvdbsjd3TSWRIKzsKzq05g" title="Link to Ken's review") Kenneth C.
						p.emoji 🐻

			.color
				#shawng.container.review
					.text-container
						.quote-container
							q
								p.quote After 13 years between dental visits, I cannot express how happy I am with Dr. Anthony Craig
								p.source &mdash; 
									cite
										a(href="http://d.pr/i/1fJUR" title="Link to Shawn's review") Shawn G.
						p.emoji ☺️

			.color
				#crystalr.container.review
					.text-container
						.quote-container
							q
								p.quote I don't mind going to the dentist anymore. He really made me feel comfortable and relaxed
								p.source &mdash; 
									cite
										a(href="http://d.pr/i/15RcH" title="Link to Crystal's review") Crystal R.
						p.emoji 😴

			include partials/_contact

		include partials/_footer
