@media (max-width: 740px)
	body
		font-size: 125%

	body#pagenotfound
		h2
			// max-width: 90%
			font-size: 6vw

	header
		h1
			font-size: 8vw
			text-align: center
			padding-top: 4vw

		p
			padding: 1em 0

		ul
			padding: 1em 0

	#pic
		img
			width: 100vw
