@media (max-width: 740px)
	body
		font-size: 125%

	body#pagenotfound
		h2
			// max-width: 90%
			font-size: 6vw

	h1.title
		font-size: 8vw
	p.tagline
		max-width: 75%
	ul.menu
		font-size: 80%

	img.pic
		width: 100vw
		clip-path: none
		margin: 0

	\:target
		img.pic
			animation: none

	// Made the scaling smaller on smaller displays
	.container
		min-height: 50vh

		&:hover:nth-child(odd) .text-container, &:focus:nth-child(odd) .text-container
			transform: scale(1.05) skewX(1deg) skewY(1deg)
		&:hover:nth-child(even) .text-container, &:focus:nth-child(even) .text-container
			transform: scale(1.05) skewX(-1deg) skewY(-1deg)

	body.about
		.top
			height: 100vh

		img.pic
			width: 100vw
