body.about
	.top
		height: 50vh

	img.pic
		max-width: initial
		margin: 0
		width: 100vw
		clip-path: none

	h1.title
		max-width: 90%

		&:hover:after, &:focus:after
			content: ' 😎'

	ul.menu
		li
			a#backhome:hover:after, a#backhome:focus:after
				content: ' 🏠'

	.color
		&:nth-child(2), &:nth-child(9)
			a
				border-bottom: 0.1em solid lighten($gray,75%)
				padding: 0.1em

				&:hover, &:focus
					border-bottom-color: lighten($gray,25%)
		&:nth-child(3)
			a
				border-bottom: 0.075em solid lighten($gray,75%)
				padding: 0.075em

				&:hover, &:focus
					border-bottom-color: lighten($gray,25%)
		&:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8)
			a
				border-bottom: 0.075em solid darken(white,25%)
				padding: 0.075em

				&:hover, &:focus
					border-bottom-color: white

		// Removes anchor underlines
		&:nth-last-child(2), &:last-child
			a
				border-bottom: none

	.about-paragraph
		line-height: 1.6
