doctype
html(lang="en").toni
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title About Dr. Anthony Craig
    meta(name="description" content="Learn more about Dr. Anthony Craig")
    include partials/_favicons

    //- Open Graph and Twitter Cards
    meta(property="og:locale" content="en_US")
    meta(property="og:site_name" content="Anthony Craig, DDS")
    meta(property="og:type" content="website")
    meta(property="og:title" content="About Dr. Anthony Craig")
    meta(property="article:author" content="https://www.facebook.com/toniwonkanobi")
    meta(property="og:description" content="Learn more about Dr. Anthony Craig.")
    meta(property="og:image" content="images/AnthonyCraigDDS.jpg")
    meta(name="twitter:site" content="@anthonycraigdds")
    meta(name="twitter:creator" content="@anthonycraigdds")
    meta(name="twitter:title" content="About Dr. Anthony Craig")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:description" content="Learn more about Dr. Anthony Craig.")
    meta(name="twitter:image" content="AnthonyCraigDDS.jpg")

    //- Stylesheets
    link(rel="stylesheet" type="text/css" href="css/styles.css")
    link(rel="stylesheet" type="text/css" href="//cloud.typography.com/7099154/7092752/css/fonts.css")
    link(rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.min.css")

    //- WOW.js animations
    script(src="bower_components/wow/dist/wow.min.js")
    script new WOW().init();

    //- Google Analytics
    include partials/_google-analytics
    
  body.about
    header
      .violet.container
        .content-container.slide-down.top
          h1.title
            a(href="/about" title="About Dr. Anthony Craig") About Dr. Anthony Craig
          p.tagline Learn more about your future dentist
          
          nav
            ul.nav
              li.nav-item: a.back-link(href="/#back" title="Go back home") Home
              li.nav-item: a.contact-links(href="#contact" title="Go to the contact section") Contact
            a.jump(href="#more" title="Keep reading")
              .arrow

    main
      section#more
        h2.hidden Information
        .red.container
          .content-container.information-paragraph.wow.fadeInUp
            p Dr. Anthony Craig works with his wife, Dr. Allison Craig, in Dixon, CA, at <a href="http://mapleleaf.dental" title="Link to our new office website">Maple Leaf Dental</a>.
        .orange.container
          .content-container.information-paragraph.wow.fadeInUp
            p In addition to routine dental services such as <a href="https://en.wikipedia.org/wiki/Dental_restoration" title="Wikipeida: Dental restorations">fillings</a>, <a href="https://en.wikipedia.org/wiki/Crown_(dentistry)" title="Wikipedia: Dental crowns">crowns</a>, and <a href="https://en.wikipedia.org/wiki/Dentures" title="Wikipedia: Dentures"> dentures</a>, Dr. Craig has a thorough understanding of <a href="https://en.wikipedia.org/wiki/CAD/CAM_dentistry" title="Wikipedia: CAD/CAM dentistry">CAD/CAM dentistry</a>, and can restore most <a href="https://en.wikipedia.org/wiki/Dental_implant" title="Wikipedia: Dental implants">dental implants</a>.

        .yellow.container
          .content-container.information-paragraph.wow.fadeInUp
            p Dr. Craig grew up in Central California. In 2009, he graduated from <a href="http://www.puc.edu/academics/departments/chemistry/home" title="PUC Chemistry Department">Pacific Union College</a>, near Napa, California. After college, he matriculated to <a href="https://dentistry.llu.edu" title="Link to LLUSD">Loma Linda University School of Dentistry</a>, in Loma Linda, California, and graduated in 2013.

        .green.container
          .content-container.information-paragraph.wow.fadeInUp
            p When he's not working, Dr. Craig enjoys mostly old things: <a href="https://honda-tech.com/articles/5-reasons-golden-era-honda/" title="Link to article on Honda Tech discussing the Golden Era of Honda automobiles">Golden Era Honda's</a>, <a href="https://www.l-camera-forum.com/leica-wiki.en/index.php/Walter_Mandler" title="Link to L Camera Forum page on Walter Mandler">vintage glass</a>, classic <a href="https://deskthority.net/wiki/Apple_Extended_Keyboard" title="Link to Deskthority page on the AEK">Apple</a>/<a href="https://imgur.com/a/RvxtF" title="Link to Imgur photo essay on NeXT's keyboards">NeXT</a> hardware, and <a href="https://community.hodinkee.com/members/toniwonkanobi" title="Link to my HODINKEE profile">mechanical watches</a> as well. He plays some <a href="https://www.youtube.com/watch?v=LvhfpJ_6Hoo" title="Playing for the Michael Jackson concert">guitar</a>, and knows more about <a href="https://theoveranalyzed.net/tags/Star%20Wars" title="Dr. Craig's posts about Star Wars">Star Wars</a> than any dentist should.

        .blue.container
          .content-container.information-paragraph.wow.fadeInUp
            p If coming to the dentist is something you dread, fear not&mdash;Dr. Craig is ready to help!

        .indigo.container
          .content-container.information-paragraph.wow.fadeInUp
            p Taking care of the patient's dental issues is very important. But what is even <em>more</em> important is making that patient feel welcome, comfortable, and safe.

      section#contact
        h2.hidden Contact Information
        .violet.container
          .content-container.wow.bounceInUp(data-wow-duration="1s")
            .contact-emoji
              a.contact-link(href="mailto:doctor@anthonycraigdds.com" title="Email me") âœ‰ï¸ 
                span.hidden Email
              a.contact-link(href="tel://1-707-678-9396" title="Call my office") ðŸ“± 
                span.hidden Phone
              a.contact-link(href="https://maps.apple.com/?address=1300+N+Lincoln+N+St+Dixon+CA+95620+United+States&auid=15685869416839995056&ll=38.458235,-121.837906&lsp=9902&q=S.+Todd+Comm+DDS+Inc" title="Come to my office") ðŸ  
                span.hidden Address

    footer
      .gray.container.footer
        .content-container.wow.bounceIn(data-wow-duration="1s" data-wow-delay="500ms")
          p.copyright
            //- Auto-updating year from http://stackoverflow.com/a/25415233
            script.
              new Date().getFullYear()>2015 && document.write('Copyright &copy; 2015&ndash;' + new Date().getFullYear());
            |  
            span Anthony&nbsp;Craig
