link(rel="index" href="/" title="Anthony Craig, DDS")
link(rel="shortcut icon" href="images/favicon.png")
link(rel="apple-touch-icon-precomposed" href="images/favicon-square.png" title="Site Favicon")
link(rel="mask-icon" href="images/tooth.svg" color="rgba(144, 19, 254, 0.3)" title="Safari Pinned Tabs Icon")
