footer.container
	p Copyright &copy; 2015
		// Auto-updating year from http://stackoverflow.com/a/25415233
		include _updating-year
		a(href="http://anthonycraig.me" title="Site's creator") Anthony Craig

	p.roygbiv
		a(href="https://en.wikipedia.org/wiki/ROYGBIV" title="Wikipedia: ROYGBIV")
			span.r R
			span.o O
			span.y Y
			span.g G
			span.b B
			span.i I
			span.v V
