// Non-semantic because it would be too complicated to apply
// the background colors if <footer> was outside of <main>
// (which it should be), so I had to go <div> soup
.footer.container.color
	p Copyright &copy; 2015&ndash;2016 
		a(href="http://anthonycraig.me" title="Site's creator") Anthony Craig

	p.roygbiv
		a(href="https://en.wikipedia.org/wiki/ROYGBIV" title="Wikipedia: ROYGBIV")
			span.r R
			span.o O
			span.y Y
			span.g G
			span.b B
			span.i I
			span.v V
