footer
	p Copyright &copy; 2015
		// Auto-updating year from http://stackoverflow.com/a/25415233
		include _updating-year
		a(href="http://twitter.com/toniwonkanobi" title="Site's creator on Twitter") Anthony Craig
